#main{
    width: 100%;
    height: 500px;
    background-size:cover;
    background: url(https://lp-cms-production.imgix.net/features/2016/01/Sunset-at-Potato-Head-Beach-Club-Seminyak-Bali.-Image-by-skyseeker.jpg?auto=format&fit=max&w=800&q=40&sharp=10&vib=20.jpg);
    background-repeat: round;
    background-attachment: unset;
    font-family: Arial ;
    text-align: center;
}

.login {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 50%);
    background: radial-gradient(0, 0, 0, 0.5);
    padding: 10px;
    width: 250px;
    box-shadow: 0 0 10px white;
}

.box-login {
    display: flex;
    justify-content: space-between;
}

.box-login i{
    font-size: 50px;
    color:black;
}

.box-login input {
    widht: 100%;
    padding: 0 60px;
    background: none;
    outline-style: double;;
    color: white;
    font-size: 14t
    px;
    font-family: 'Times New Roman', Times, serif;
}

.box-login input::placeholder {
    color:white;
}

.btn-login {
    width: 100%;
    background: none;
    padding: 15px;
    border: 1px white;
    font-size: 15px;
    letter-spacing: 3px;
    color: white;
}

.bottom a{
    color: white;
    font-size: 12px;
    text-decoration: wavy;
    font-style: italic;
}

.bottom a:hover {
    text-decoration: underline;
}